@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="styles.css">
<body>
    <header>
        <div class="logo">
            <h1>Logo</h1>
        </div>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>
</body>

<div>
    <img src="~/img/banner1.jpg" class="d-block w-100" alt="...">
    <div style="background-color: #2A3950;" class="px-5 py-3">
        <div class="px-3" id="modelos" style="color: #000;">
            <p class="fs-1 fw-bold">Modelos</p>
            <p>Los vehiculos mas recientes</p>
        </div>
        <div class="d-flex row">
            <div class="p-3 col">
                <img src="~/img/banner1.jpg" alt="alt1" class="img-fluid">
                <div class="d-flex justify-content-center mt-4">
                    <button type="button" class="btn btn-light">Modelo</button>
                </div>
                <div class="tabla_auto p-3 mt-2">
                    <table class="table">
                        <tr style="color: #fff;">
                            <th>col 1</th>
                            <th>col 2</th>
                            <th>col 3</th>
                        </tr>
                        <tr style="color: #000; font-weight: 700">
                            <td>Motor</td>
                            <td>123</td>
                            <td>456</td>
                        </tr>
                        <tr style="color: #000; font-weight: 700">
                            <td>Velocidad Maxima</td>
                            <td>123</td>
                            <td>456</td>
                        </tr>
                        <tr style="color: #000; font-weight: 700">
                            <td>Numero de Cilindros</td>
                            <td>123</td>
                            <td>456</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="p-3 col">
                <img src="~/img/banner1.jpg" alt="alt1" class="img-fluid">
                <div class="d-flex justify-content-center mt-4">
                    <button type="button" class="btn btn-light">Modelo</button>
                </div>
                <div class="tabla_auto p-3 mt-2">
                    <table class="table">
                        <tr style="color: #fff;">
                            <th>col 1</th>
                            <th>col 2</th>
                            <th>col 3</th>
                        </tr>
                        <tr style="color: #000; font-weight: 700">
                            <td>Motor</td>
                            <td>123</td>
                            <td>456</td>
                        </tr>
                        <tr style="color: #000; font-weight: 700">
                            <td>Velocidad Maxima</td>
                            <td>123</td>
                            <td>456</td>
                        </tr>
                        <tr style="color: #000; font-weight: 700">
                            <td>Numero de Cilindros</td>
                            <td>123</td>
                            <td>456</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="p-3 col">
                <img src="~/img/banner1.jpg" alt="alt1" class="img-fluid">
                <div class="d-flex justify-content-center mt-4">
                    <button type="button" class="btn btn-light">Modelo</button>
                </div>
                <div class="tabla_auto p-3 mt-2">
                    <table class="table">
                        <tr style="color: #fff;">
                            <th>col 1</th>
                            <th>col 2</th>
                            <th>col 3</th>
                        </tr>
                        <tr style="color: #000; font-weight: 700">
                            <td>Motor</td>
                            <td>123</td>
                            <td>456</td>
                        </tr>
                        <tr style="color: #000; font-weight: 700">
                            <td>Velocidad Maxima</td>
                            <td>123</td>
                            <td>456</td>
                        </tr>
                        <tr style="color: #000; font-weight: 700">
                            <td>Numero de Cilindros</td>
                            <td>123</td>
                            <td>456</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
